body {
	background-color: #800000;
}

h1 {
	color: #ffffff;
	margin-top: 10px;
	font-weight: bold;
}

#header-nav {
	background-color: #FFA500;
	border: 0;
	border-radius: 0;
}

h2 {
	color: #fff;
	text-align: center; 
	font-weight: bold;
}


#chicken {
	color: #fff;
}

#beef {
	color: #fff;
}

#shrimp {
	color: #fff;
}

